@import "./utils/mixin";
@import "./layout/footer";
@import "./layout/header";
@import "./pages/banner";
@import "./pages/works";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
.container{
    padding: 0 119px;
    @media(max-width: 1024px){
        padding: 0 50px;
    }
    @media(max-width: 480px){
        padding: 0 10px;
    }
}
.hide{
  display: none !important;
}
.show{
  display: flex !important;
}
.dark-mode {
    background-color: black;
    color: white;
  }

  :root{
    /* COLORS */
    --color: #9176FF;
    --dark-color: #2b2b2b;
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-icon-color: #FFDE59;
  }
  
  /* ------------ BASE ------------ */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  /* -------------- BUTTON -------------- */
  .btn{
    background-color: #fff;
    width: 180px;
    height: 55px;
    border-radius: 10em;
    padding: 0 0.5em;
  
    box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
                inset 0 8px 8px rgba(0,0,0, .1),
                inset 0 -4px 4px rgba(0,0,0, .1);
  
    position: relative;
  
    display: flex;
    align-items: center;
  
    cursor: pointer;
  }
  
  .btn__indicator{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
    position: absolute;
  
    box-shadow: 0 8px 40px rgba(0,0,0, .2);
  
    transition: transform .3s ease;
  }
  
  .btn__icon-container{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn__icon{
    color: var(--light-icon-color);
    font-size: 3rem;
  }
  
  /* -------------- ANIMATION ------------ */
  .btn__icon.animated{
    animation: spin 0.5s;
  }
  
  @keyframes spin{
    to {
      transform: rotate(360deg);
    }
  }
  
  /* -------------- DARKMODE -------------- */
  body.darkmode{
    background-color: var(--dark-color);
  }
  
  .darkmode .btn{
    box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
                inset 8px 0 8px rgba(0,0,0, .3),
                inset 0 -4px 4px rgba(0,0,0, .3);
  }
  
  .darkmode .btn__indicator{
    transform: translateX(7em);
    background-color: var(--dark-color);
    box-shadow: 0 8px 40px rgba(0,0,0, .3);
  }
  
  .darkmode .btn__icon{
    color: var(--dark-icon-color);
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    background-color: #222;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  html{
    scroll-behavior: smooth;
  }